div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover{font-family: 'Open Sans';color: #ffffff;font-size:300%;text-shadow: none;line-height: 1.3;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:FOCUS{}

div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading{background: #e79d19;background: RGBA(231,157,25,0.67);opacity:1;padding:0px 10px 0px 10px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:Hover, div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:ACTIVE, div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:FOCUS{}

div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover{font-family: 'Open Sans';color: #ffffff;font-size:300%;text-shadow: none;line-height: 1.3;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-9a1faf75e261d996e1b7dc7b1d89da94-hover:FOCUS{}

div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading{background: #e79d19;background: RGBA(231,157,25,0.67);opacity:1;padding:0px 10px 0px 10px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:Hover, div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:ACTIVE, div#n2-ss-0 .n2-style-5c0149bf26a17b9d753b50c3dee15300-heading:FOCUS{}

