.panel-custom {
    border-style: solid;
    border-width: 1px;
    border-color: #ff8da1;
    margin-bottom: 1.25em;
    padding: 40px;
    background: pink;
}

.title-carrito{

    color: white !important;
    font-weight: 900;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(80, 31, 0, 1); 
}

.menu-element{
    text-decoration: none;
    color: white;
}

.menu-element a{
    text-decoration: none;
    border-bottom: none;
    color: white;

    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
}

.contenedor{
    display: -webkit-flex;
    display: flex;
}

.producto{
    background-color: rgba(80, 31, 0, 0.85); 
    margin: 0px 50px 10px 50px;
    border-radius: 4px;
}

.nosotros{
    background-color: rgba(80, 31, 0, 0.85); 
    border-radius: 4px;
    text-align: justify;
}

.nosotros img{
    margin: 30px auto;
    text-align: center;
    border-radius: 4px;
    display: block;
}

.product-container{
    margin: 20px 0 0 0;
}

.producto h4{
    margin: 10px 0 0 0;
}

.carrito{
    position: fixed; 
    top: 10px; 
    z-index: 7;

    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;

    background-color: rgba(80, 31, 0, 1);  
    border-radius: 4px;
    
}

.mod-carrito{
    background-color: rgba(80, 31, 0, 1); 
    color: white;
    padding: 50px;
    border-radius: 4px;

}

.label-reserva{
    color: black !important;
    cursor: auto !important;
}

.input-reserva {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.btn-reserva{
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.wrapper-reset{
    min-height: 0 !important;
}

.margin-page-carrito{
    margin-top: 30px;
}

@media screen and (max-width: 480px) {

        .product-container{
            margin: 140px 0 0 0;
        }

        .producto h4{
            margin: 20px 0 0 0;
        }

        .margin-page-carrito{
            margin-top: 90px;
        }

    }

