
//Woocommerce default
.woocommerce #reviews #comments .add_review::after,.woocommerce .products ul::after,.woocommerce div.product form.cart::after,.woocommerce div.product p.cart::after,.woocommerce nav.woocommerce-pagination ul,.woocommerce ul.products::after {
    clear: both
}

#wc-bookings-booking-form .wc-bookings-date-picker legend {
	display: block;
}
.currentTextHolder {
	line-height: 20px;
}


.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none
}

.woocommerce div.product div.images div.thumbnails {
    padding-top: 1em
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    position: relative
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    transition: all cubic-bezier(.795,-.035,0,1) .5s
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: rgba(0,0,0, 0.8);
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
    &:hover {
    	background: rgba(0,0,0, 0.7);
    }
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box
}

.woocommerce div.product div.images .flex-control-thumbs {
    overflow: hidden;
    zoom:1;margin: 0;
    padding: 0
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin: 0 -5px;
	&  li {
	    width: 25%;
	    float: left;
	    padding: 10px 5px 0 5px;
	    box-sizing: border-box;
	    list-style: none;
	}
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    cursor: pointer;
    opacity: .5;
    margin: 0
}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,.woocommerce div.product div.images .flex-control-thumbs li img:hover {
    opacity: 1
}

.woocommerce div.product div.social {
    text-align: right;
    margin: 0 0 1em
}

.woocommerce div.product div.social span {
    margin: 0 0 0 2px
}

.woocommerce div.product div.social span span {
    margin: 0
}

.woocommerce div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0
}

.woocommerce div.product div.social iframe {
    float: left;
    margin-top: 3px
}

.woocommerce .products ul,.woocommerce ul.products {
   // margin: 0 0 1em;
    padding: 0;
    list-style: none;
    clear: both
}

// .woocommerce .products ul::after,.woocommerce .products ul::before,.woocommerce ul.products::after,.woocommerce ul.products::before {
//     content: ' ';
//     display: table
// }

.woocommerce .products ul li,.woocommerce ul.products li {
    list-style: none
}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em
}

.woocommerce ul.products li.product a {
    text-decoration: none
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none
}

.woocommerce ul.products li.product strong {
    display: block
}

.woocommerce ul.products li.product .star-rating {
    font-size: .857em
}

.woocommerce ul.products li.product .button {
    margin-top: 1em
}

.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em
}

.woocommerce ul.products li.product .price del {
    color: inherit;
    opacity: .5;
    display: block
}

.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700
}

.woocommerce ul.products li.product .price .from {
    font-size: .67em;
    margin: -2px 0 0;
    text-transform: uppercase;
    color: rgba(132,132,132,.5)
}

.pswp {
    z-index: 999999
}

.woocommerce img.pswp__img,.woocommerce-page img.pswp__img {
    max-width: none
}

button.pswp__button {
    box-shadow: none!important;
    background-image: url(../images/default-skin.png)!important
}

button.pswp__button,button.pswp__button--arrow--left::before,button.pswp__button--arrow--right::before,button.pswp__button:hover {
    background-color: transparent!important
}

button.pswp__button--arrow--left,button.pswp__button--arrow--left:hover,button.pswp__button--arrow--right,button.pswp__button--arrow--right:hover {
    background-image: none!important
}

button.pswp__button--close:hover {
    background-position: 0 -44px
}

button.pswp__button--zoom:hover {
    background-position: -88px 0
}


.woocommerce-account .addresses .title::after,.woocommerce-account .addresses .title::before,.woocommerce-account .woocommerce::after,.woocommerce-account .woocommerce::before {
    content: ' ';
    display: table
}

.woocommerce-account ol.commentlist.notes li.note p.meta {
    font-weight: 700;
    margin-bottom: 0
}

.woocommerce-account ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0
}

.woocommerce-account ul.digital-downloads {
    margin-left: 0;
    padding-left: 0
}

.woocommerce-account ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}

.woocommerce-account ul.digital-downloads li::before {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "î€Š";
    text-decoration: none
}

.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    padding: 3px .5em;
    font-size: 1em
}

.woocommerce-password-strength.strong {
    background-color: #c1e1b9;
    border-color: #83c373
}

.woocommerce-password-strength.short {
    background-color: #f1adad;
    border-color: #e35b5b
}

.woocommerce-password-strength.bad {
    background-color: #fbc5a9;
    border-color: #f78b53
}

.woocommerce-password-strength.good {
    background-color: #ffe399;
    border-color: #ffc733
}

.woocommerce-password-hint {
    margin: .5em 0 0;
    display: block
}

.product.has-default-attributes.has-children>.images {
    opacity: 0
}



//Checkout steps
.checkout-page-title {
	.flex-display(@display: flex);
	.flex-flow( column nowrap);
	.justify-content(@justify: center);
	width: 100%;
	padding: 50px 2000px;
	margin-left: -2000px;
	& nav {
		box-sizing: border-box;
	    margin: 0 auto;
	    padding: 0 50px;
	    max-width: 100%;
	}
	& a {
		.flex-display(@display: flex);
		.flex-flow( column wrap);
		text-align: center;
		text-decoration: none;
		flex: 1 0 auto;
		width: 33.333%;
	}
	& .checkout-breadcrumbs {
		.flex-display(@display: flex);
		.justify-content(@justify: space-around);
	}
	& .checkout-step {
		position: relative;
		.flex-display(@display: flex);
		.justify-content(@justify: center);
		flex: 1 0 auto;
		&:before,
		&:after {
			position: absolute;
			top: 50%;
			margin-top: 5px;
			width: calc(50% ~'-' 40px);
			height: 3px;
			background: red;
			content: "";
		}
		&:before {
			left: 0;
			width: calc(50% ~'-' 40px);
		}
		&:after {
			left: calc(50% ~'+' 40px);
		}

	}
	& a:first-child .checkout-step:before {
		display: none;
	}
	& a:last-child .checkout-step:after {
		display: none;
	}
	& .checkout-counter {
		.flex-display(@display: flex);
		.justify-content(@justify: center);
		.align-items(@align: center);
		
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-top: 10px;
		
	}
	& a:last-child .checkout-line {
		display: none;
	}
}

//Widget/miniwidget shopping cart

#page .widget_shopping_cart a.remove,
.masthead .shopping-cart-inner a.remove,
.dt-mobile-header .shopping-cart-inner a.remove {
	display:block;
	font-size:1.5em !important;
	height:1em !important;
	width:1em;
	text-align:center;
	line-height:1;
	border-radius: 100%;
	text-decoration:none;
	font-weight:700;
	border:0
}
.woocommerce .cart_list a.remove:hover,
.masthead .shopping-cart-inner .cart_list a.remove:hover,
.dt-mobile-header .shopping-cart-inner .cart_list a.remove:hover {
	color: #fff !important;
	-webkit-text-fill-color: #fff !important;
}

.widget_shopping_cart .cart_list li a.remove,
.shopping-cart-inner .cart_list li a.remove {
	position:absolute;
	top:20px;
	left:0;
}
.widget_shopping_cart .cart_list li:first-child a.remove,
.shopping-cart-inner .cart_list li:first-child a.remove {
	top: 5px;
}


//Custom dt


//General typography
.shop_table strong,
.product form.cart .variations label,
strong[itemprop="author"],
.shopping-cart-inner strong,
.widget_shopping_cart_content strong,
.shop_table th,
.shop_table td {
	font-weight: normal;
}

.cart .cart_item .product-name a,
.cart .cart_item .product-name,
label[for="rememberme"],
.quantity,
.product-subtotal .amount,
.cart .product-total .amount,
// .shop_table.customer_details td,
.order_details tfoot td,
td.product-subtotal,
.update-cart-button input[type="submit"],
// .customer_details td,
.shipping-calculator-button,
.quantity input.qty,
.product-subtotal,
.cart-subtotal .amount,
.showcoupon-tag,
.showcoupon,
.showlogin-tag,
.showlogin,
form.woocommerce-checkout #customer_details label,
#shipping_method label,
.payment_methods label,
.woocommerce-MyAccount-content label,
#customer_login > div label,
form.track_order label,
form.lost_reset_password label,
.woocommerce-MyAccount-navigation > ul li a,
.product table.variations td.label label,
.woocommerce-Reviews label {
	font-weight: bold;
}


//forms
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="range"],
input[type="password"] {
	.woocommerce-invalid-required-field & {
		border-color: #f55b5f;
	}
}
.woocommerce-additional-fields label,
.woocommerce-billing-fields label,
.woocommerce-shipping-fields label,
.woocommerce-MyAccount-content label,
.woocommerce-account-fields label,
.track_order label,
.lost_reset_password label,
form.register label,
.woocommerce-form-login label {
	margin-bottom: 5px;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input, textarea {
	width: 100%;
}

.woocom-rollover-content .price ins .amount,
.woocom-rollover-content .star-rating span:before,
.woocom-rollover-content mark,
.widget_layered_nav ul li.chosen a,
.widget_layered_nav_filters ul li a {
	#page & {
		color: #fff;
		-webkit-text-fill-color: #fff;
		background: none;
	}
}
/*!-Products list*/
.switcher-wrap {
	.flex-display(@display: flex);
	.align-items(@align: center);
	.flex-flow( row wrap);
	margin-bottom: 40px;
	& > * {
		margin-bottom: 10px;
	}
	& .woocommerce-result-count {
		.flex-order(@order: 1);
		//margin-bottom: 0;
	}
	& .woocommerce-ordering {
		.flex(@columns: 1 1 auto);
		& select {
			margin-bottom: 0;
		}
	}
}

.view-mode-switcher {
	.flex-display(@display: flex);
	.flex-order(@order: 2);
	margin-left: 20px;
	& > a {
		position: relative;
		.flex-display(@display: inline-flex);
		.justify-content(@justify: center);
		.align-items(@align: center);
		width: 38px;
		height: 38px;
		border: 1px solid;
		text-decoration: none;
		&:first-child {
			border-right: none;
		}
		& i {
			font-size: 14px;
		}
	}
}
.filter-popup {
	.view-mode-switcher & {
		position: absolute;
		.horizontal-centering;
		bottom: 100%;
		padding: 2px 6px;
		margin-bottom: 8px;
		background: #000;
		color: #fff !important;
		font: normal  10px / 14px Arial, Verdana, sans-serif;
		letter-spacing: 0.3px;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translate3d(-50%,10px, 0);
		    transform: translate3d(-50%,10px, 0);
		  -webkit-transition: all .25s ease-out;
		          transition: all .25s ease-out;
		.static-border-radius (@radius: 2px);
		/* CSS Triangle*/
		&:after {
			position: absolute;
			left: 50%;
			bottom: -5px;
			margin-left: -5px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		  
			border-top: 5px solid #000;
			content: "";
		}
		/* This bridges the gap so you can mouse into the tooltip without it disappearing */
		&:before {
		 	position: absolute;
		 	left: 0;
			bottom: -20px;
		  	content: " ";
		  	display: block;
		  	width: 100%;
		  	height: 20px;
		}  

	}
}

.view-mode-switcher > a:hover > .filter-popup {
	visibility: visible;
	opacity: 1;
	 pointer-events: auto;
	  -webkit-transform: translate3d(-50%,0, 0);
	          transform: translate3d(-50%,0, 0);
}

/*--Change img on hover setting*/
.description-on-hover .woocom-project > a {
	display: block;
	line-height: 0;

}
.wc-img-hover .woo-buttons-on-img {
	overflow: hidden;
	& a {
		text-align: center;
	}
}
.wc-img-hover .woocom-project img {
	position: relative;
	 
    -webkit-transition: opacity 0.4s ease-in-out;
	 transition: opacity 0.4s ease-in-out;
   
}
img.back-image {
	.woocom-project & {
		.wc-img-hover & {
			position: absolute;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    top: 0;
		    .centering-mixin;
		   	opacity: 0;
		    
		    width: auto;
		    height: auto;
		    max-width: 100%;
		    max-height: 100%;
		}
	}
}


.wc-img-hover {
	& .woo-buttons-on-img:hover {
		& img.hide-on-hover {
			opacity: 0;
		}
		& img.show-on-hover {
		    opacity: 1;
		}
	}

}
//Out of stock
.product {
	& .woo-buttons-on-img {
		position: relative;
		margin: 0 0 20px;
		text-align: center;

		& .out-stock-label {
			position: absolute;
			.centering-mixin;
			.flex-display(@display: flex);
			.align-items(@align: center);
			.justify-content(@justify: center);
			//left: 0;
			z-index: 2;
			width: auto;
			max-width: 100%;
			min-height: 50px;
			padding: 20px 25px;
			box-sizing: border-box;
			background: rgba(0,0,0,0.65);
			-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.15);
   			box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.15);
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			white-space: nowrap;
		}
	}
}
//List layout
article.product {
	.wc-layout-list & {
		margin-bottom: 50px;
	}
	&.post.bg-on {
		background: none;
	}
}
.woocom-project {
	.wc-layout-list & {
		.flex-display(@display: flex);
		.align-items(@align: flex-start);
		& .woo-buttons-on-img {
			margin-bottom: 0;
			text-align: left;
		}
		& .woocom-list-content {
			padding-left: 40px;
			margin-bottom: 0;
			box-sizing: border-box;
			text-align: left;
			& .star-rating {
				margin: 0 0 25px 0;
			}
			& .woocommerce-product-details__short-description {
				margin-bottom: 25px;
			}
			& .woo-buttons a {

			}
		}
	}
	.dt-isotope & {
		& .woocommerce-product-details__short-description {
			margin-bottom: 15px;
		}
	}

}
.hide-description {
	& .woocommerce-product-details__short-description {
		display: none;
	}
}
.woo-buttons {
	.cart-btn-on-img & {
		position: absolute;
		right: 10px;
		bottom: 10px;
		height: 32px;
		min-width: 32px;
		border-radius: 16px;
		z-index: 2;
		& a {
			display: block;
			float: right;
			height: 32px;
			max-width: 22px;
			padding: 0 32px 0 0px;
			box-sizing: border-box;
			-webkit-transition: max-width 0.4s ease-in-out; 
			transition: max-width 0.4s ease-in-out;
			border-radius: 16px;
			& .filter-popup {
				// display: inline-block;
				// float: right;
				vertical-align: top;
				line-height: 32px;
				margin-left: 14px;
				opacity: 0;
				-webkit-transition: opacity 0.2s linear;
				transition:         opacity 0.2s linear;
				
			}
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				width: 32px;
				height: 32px;
				content: "";
			}
			
		}
		&:hover,
		&.is-clicked {
			& a {
				width: auto;
				max-width: 250px;
				& .filter-popup {
					opacity: 1;
					 transition-delay: 200ms;
					  -webkit-transition-delay: 200ms;
				}
			}
			
		}
		box-sizing: border-box;
		-webkit-transition: opacity 0.2s linear;
		transition:         opacity 0.2s linear;

	}
	.cart-btn-on-hover & {
		opacity: 0;
	}
	.cart-btn-below-img & {
		padding-top: 3px;
		margin-bottom: 15px;
	}
}
	#page .cart-btn-below-img .woo-buttons:last-child {
		margin-bottom: 15px;
	}
	.woocom-project:hover .woo-buttons,
	.woo-buttons-on-img.is-clicked .woo-buttons {
		.cart-btn-on-hover & {
			opacity: 1;
		}
	}
.woo-buttons-on-img .woo-buttons {
	& > a:after {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='white' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Crect x='4.75' y='11.9' width='10.5' height='2'/%3E%3Crect x='4.75' y='6.9' width='10.5' height='2'/%3E%3Crect x='4.75' y='1.9' width='10.5' height='2'/%3E%3Cpath d='M2.002,6.65c-0.69,0-1.252,0.559-1.252,1.25s0.562,1.25,1.252,1.25c0.694,0,1.248-0.559,1.248-1.25S2.696,6.65,2.002,6.65z'/%3E%3Cpath d='M2.002,11.65c-0.69,0-1.252,0.558-1.252,1.25s0.562,1.25,1.252,1.25c0.694,0,1.248-0.558,1.248-1.25S2.696,11.65,2.002,11.65z'/%3E%3Cpath d='M2.002,1.65c-0.69,0-1.252,0.559-1.252,1.25s0.562,1.25,1.252,1.25c0.694,0,1.248-0.559,1.248-1.25S2.696,1.65,2.002,1.65z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;
	}
	& > .add_to_cart_button:after,
	& > .added_to_cart.wc-forward:after {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' fill='white' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath d='M15.439,4.021L3.532,2.358L3.406,1.172c0,0-0.034-0.425-0.052-0.46C3.281,0.484,3.158,0.417,2.906,0.344L0.792,0.026C0.468-0.073,0.124,0.115,0.025,0.444c-0.097,0.328,0.052,0.755,0.381,0.853l1.688,0.25l1.239,10.865C3.372,12.712,3.63,13,3.945,13h9.89c0.341,0,0.516-0.312,0.516-0.654c0-0.336-0.175-0.646-0.516-0.646H4.547L4.387,10h9.485c0.708,0.021,0.771-0.517,0.963-1.062l0.958-3.396C16.064,4.688,16.177,4.126,15.439,4.021z'/%3E%3Ccircle cx='4.801' cy='14.699' r='1.25'/%3E%3Cpath d='M12.802,13.449c-0.69,0-1.252,0.559-1.252,1.25s0.562,1.251,1.252,1.251c0.694,0,1.248-0.56,1.248-1.251S13.496,13.449,12.802,13.449z'/%3E%3C/svg%3E");
	}
}
//Shop cart/checkout/complete
.woocommerce-cart-wrap,
.wc-complete-wrap {
	.flex-display(@display: flex);
	.flex-flow( row wrap);
}
// .woocommerce-cart-wrap {
// 	.flex-flow( row wrap);
// }
		table.shop_table:not(.order_details) {
			.woocommerce-cart-wrap & {
				border: none;

			}
		}	
		.shop_table {
			border-collapse: separate;
		}
		.cart.shop_table {
			.woocommerce-cart-wrap & {
				border-collapse: separate;
				& td {
					padding: 25px 10px 25px 0;
					&.actions {
						padding-top: 45px;
						padding-right: 0;
					}
					&.product-subtotal {
						padding-right: 0;
					}
				}
				& tfoot th,
				& tbody th {
					padding: 25px 0;
				}

			}
		}
		.shop_table {
			& .variation,
			& .wc-item-meta {
				display: none;
			}
			&.customer_details {
				& td {
					padding-right: 0;
				}
				& tbody th {
					padding-right: 10px;
				}
			}
		}
		.customer_details tr:first-of-type {
			& th,
			& td {
				border-top: none;
			}
		}
			thead th {
				.woocommerce-cart-wrap .shop_table &,
				.customer_details &,
				.woocommerce-orders-table & {
					border: none;
					padding: 0 0 10px 0;
					text-transform: uppercase;
				}
			}
			td.product-remove {
				.woocommerce-cart-wrap & {
					width: 30px;
					max-width: 30px;
				}
			}
			a.remove {
				.woocommerce-cart-wrap & {
					display:block;
					font-size: 16px !important;
					width: 30px;
					text-align:left;
					line-height:30px;
					text-decoration:none;
					border:0
					&:hover {
						cursor: pointer;
					}
				}
			}
			.product-thumbnail {
				.woocommerce-cart-wrap .shop_table & {
					width: 70px;
					padding-right: 20px;
					& img {
						width: 70px;
					}
					& > a {
						display: block;
						width: 70px;
						font-size: 0;
						line-height: 0;
					}
				}
			}
			.woocommerce-cart-wrap {
				& .product-price,
				& .product-quantity {
					width: 18%;
				}
				& .product-quantity {
					width: 17%;
				}
				& .product-subtotal {
					width: 18%;
					text-align: right;
				}
			}
			.cart_item .product-name {
				.woocommerce-cart-wrap & {
					width: 32%;
					& a {
						display: inline-block;
						text-decoration: none;
					}
				}
			}
			th.product-name {
				.woocommerce-cart-wrap table.cart & {
					position: relative;
					left: -38px;
				}
			}

			.variation {
				.content & {
					& dt,
					& dd {
						font-weight: normal;
						float: left;
						& p {
							margin-bottom: 0;
						}
					}
				
					& dt {
						clear: left;
						margin-right: 5px;
					}
				}
			}
			.quantity {
				.woocommerce-cart-wrap &,
				.woocommerce-variation-add-to-cart &,
				.product & {
					.flex-display(@display: inline-flex);
			    	text-align: right;
			    	& input[type='button'].is-form {
					    overflow: hidden;
					    position: relative;
					    padding-top: 5px;
					    padding-bottom: 5px;
					    margin: 0;
					    background-color: #fff;
					   	border-width: 1px;
					   	border-style: solid ;
					    text-transform: none;
					    font-weight: normal;
					    border-radius: 0;
					    box-shadow: none !important;
					}
					& .plus {
						border-left: none !important;
					}
					& .minus {
						border-right: none !important;
					}
			    }
			}
			.quantity .plus:hover,
			.quantity .minus:hover,
			.quantity .plus:active,
			.quantity .minus:active {
				top: 0 !important;
				margin-bottom: 0 !important;
			}

			.quantity input.qty {
				display: inline;
				float: left;
				vertical-align: middle;
				width: 40px;
				padding: 0;
				margin: 0;
				border-radius: 0;
				text-align: center;

				-webkit-appearance: textfield;
			    -moz-appearance: textfield;
			    appearance: textfield;
			}
			.quantity input[type=number]::-webkit-inner-spin-button,
			.quantity input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
				margin: 0;
				display: none;
			}

			

		.cart-footer {
			.flex-display(@display: flex);
			.flex-flow( row wrap);
			.justify-content(@justify: space-between);
			.align-items(@align: center);
		}
		.coupon {
			.woocommerce-cart-wrap &,
			.wc-coupon-wrap & {
				position: relative;
				padding-right: 10px;
				padding-bottom: 10px;
				.flex-display(@display: inline-flex);
				.flex-flow( row wrap);
				.align-items(@align: center);
				&:before {
				    content: "\f02b";
				    font: normal normal normal 14px/1 FontAwesome;
				    position: absolute;
				    left: 20px;
				    top: 0px;
				    font-size: 14px;
				   z-index: 10;
				}
				& input[type="text"] {
					padding-left: 35px;
				}
			}
		}
		
		
		.wc-coupon-field {
			position: relative;
			&:focus label {
				display: none;
			}
		}
			.cart td.actions .coupon label {
				position: absolute;
				display: none;
				height: 40px;
				width: 100%;
				padding: 5px 15px;
				box-sizing: border-box;
				&:before {
					margin-right: 5px;
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f02b";
				}
			}
			input[name="coupon_code"] {
				&::-webkit-input-placeholder,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder { /* Firefox 18- */
				  color: pink;
					  &:before {
						margin-right: 5px;
						font: normal normal normal 14px/1 FontAwesome;
						content: "\f02b";
					}
				}
			}
		.wc-coupon-text,
		.wc-coupon-field {
			.woocommerce-cart-wrap & {
				display: inline-block;
			}
		}
		.wc-coupon-text {
			.woocommerce-cart-wrap & {
				position: relative;
				margin-right: 20px;
				&:after {
					position: absolute;
					z-index: 0;
					top: 0;
					left: 50%;
					.centering-mixin;
					content: "\f02b";
					font: normal normal normal 84px/1 FontAwesome;
				}
				& > span {
					position: relative;
					z-index: 1;
				}
			}
		}
		.wc-coupon-text span {
			.woocommerce-cart-wrap & {
				display: block;
			}
		}

		.update-cart-button {
			.woocommerce-cart-wrap & {
				& input[type="submit"] {
					padding: 0;
					background: none;
					border: none;
					cursor: pointer;
					text-align: right;
					&:focus {
					 	outline: none;
					}
					&:not(:disabled):hover {
						opacity: 0.7;
					}
				}
				& i {
					padding-right: 5px;
				}

			}
		}
		.wc-coupon-input.input-text {
			width: 200px;
			max-width: 100%;
		}
		.wc-cart-button,
		input[name="apply_coupon"],
		input[name="login"],
		.single_add_to_cart_button.button,
		.button.wc-backward,
		.button.view-cart,
		.button.checkout,
		.button.wc-forward,
		.price_slider .button,
		.woocommerce-Reviews .submit,
		button[name="calc_shipping"],
		.woocommerce-Button[name="register"],
		.track_order input[name="track"] {
			.flex-display(@display: inline-flex);
			.justify-content(@justify: center);
			.align-items(@align: center);
			box-sizing: border-box;
		}
		input[name="update_cart"] {
			border: none;
			box-shadow: none !important;
		}
		table.shop_table td button[name="calc_shipping"] {
			margin: 0;
		}
		#shipping_method {
			margin: 0;
			& li {
				list-style: none;
				& .shipping_method {
					margin: 0 5px 0 0;
				}
			}
		}
		#payment {
			& .input-radio {
				margin: 0 5px 0 0;
			}
		}
		.woocommerce-ordering-div,
		.shipping-calculator-form {
			position: relative;
		}
		.shipping-calculator-form .woocommerce-ordering-div {
			margin-bottom: 10px;
		}
			#calc_shipping_country,
			#calc_shipping_state,
			select.shipping_method,
			form .form-row input.input-text {
				width: 100% !important;
			}
			.shipping_method {
				margin-bottom: 10px;
			}
		.woocommerce-shipping-calculator > p {
			margin-bottom: 0;
		}
		.shipping-calculator-form {
			margin: 10px 0;
		}

//Cart totals
.cart-collaterals {
	.woocommerce-cart-wrap & {
		width: 25%;
		padding: 30px;
		margin-left: 50px;
		.align-self(@align: flex-start);
		box-sizing: border-box;
		& .shop_table {
			margin-bottom: 20px;
		}
	}
}
	.cart_totals tr:first-of-type td,
	.cart_totals tr:first-of-type th {
		.woocommerce-cart-wrap & {
			border:none;
		}
	}
	.woocommerce-cart-wrap .cart_totals tr th {
		padding-right: 10px
	}
	.cart_totals {
		.woocommerce-cart-wrap & {
			& table,
			& tbody,
			& tr,
			& th,
			& tbody th,
			& td {
				display: block;
				border: none;
				padding: 0;
			}
			& tr {
				border-top: 1px solid;
				padding: 10px 0;
				&:first-of-type {
					border: none;
				}
			}
			& td {
				text-align: left;
				padding-right: 0;
			}
			& .woocommerce-shipping-calculator {
				overflow: hidden;
			}
		}
	}
	.shipping-calculator-form {
		& select {
			margin-bottom: 0 !important;
		}
		& p:last-of-type {
			margin-bottom: 0;
		}
	}

#page .checkout-button.wc-forward,
#page #place_order {
	.justify-content(@justify: center);
	.align-items(@align: center);
	width: 100%;
	box-sizing: border-box;

}
.checkout-button {
	.flex-display(@display: flex) !important;
}
.shipping-calculator-button {
	display: inline-block;
}
//Cross sells
.cross-sells {
	margin-top: 30px;
}

//Checkout
.col2-set .col-1 {
	float: left;
	width: 48%;
}
.col2-set .col-2 {
	float: right;
	width: 48%;
}
form.track_order,
form.lost_reset_password,
.wc-login-wrap,
.wc-coupon-wrap,
#customer_login > div {
	.flex-display(@display: flex);
	.flex-flow( column wrap);
	.align-items(@align: center);
	margin: 0 auto;
	width: 50%;
	& .coupon {
		.flex(@columns: 1 1 auto);
		padding-bottom: 0;
		& input {
			width: 100%;
			margin-bottom: 0;
		}
	}
	& .button {
		text-transform: uppercase;
		font-weight: bold;
	}
	& .woocommerce-info {
		.flex-display(@display: flex);
		.align-items(@align: center);
	}
	& form {
		width: 100%;
		margin-top: 25px;
		padding: 30px;
		box-sizing: border-box;
	}
	& .form-row  {
		width: 100%;
		padding: 0;

	}
	& .showcoupon-tag,
	& .showlogin-tag {
		text-transform: uppercase;
	}
	& .showcoupon,
	& .showlogin {
		text-decoration: none;
	}
	& .log-message {
		margin-bottom: 20px;
	}
}
.wc-login-wrap {
	margin-bottom: 20px;
	& form {
		padding-top: 25px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		& .form-row:not(.name-row):not(.password-row),
		& .lost_password {
			display: inline-block;
			width: auto;
		}
		& .lost_password {
			float: right;
			margin-top: 12px;
		}
		& .form-row-last {
			margin-bottom: 20px;
		}
		& label[for="rememberme"] {
			margin-left: 20px;
		}
	}
}
.wc-coupon-wrap {
	margin-bottom: 50px;
	& form {
		padding: 0;
		margin-top: 0;
	}
	& .form-coupon-wrap {
		.flex-display(@display: flex);
		.flex-flow( row wrap);
		padding: 30px 30px 20px 30px;
		margin-top: 25px;
		& .coupon,
		& .button {
			margin-bottom: 10px;
		}
	}
}
form.track_order,
form.lost_reset_password,
#customer_login > div {
	padding: 25px 30px 20px;
	box-sizing: border-box;
	& > p:not(.form-row) {
		margin-bottom: 20px;
	}
	& .form-row input[type="text"] {
		//margin-bottom: 5px;
	}
	& .button {
		margin-top: 10px;
	}
	& label {
		text-transform: uppercase;
	}
}
#customer_login {
	.flex-display(@display: flex);

	& > div {
		.align-items(@align: flex-start);
		margin: 0 auto;
		& form {
			margin-top: 10px;
			padding: 0;
			& > .form-row:not(.form-row-wide) {
				display: inline-block;
				width: auto;
			}
			& label.woocommerce-form__label-for-checkbox {
				display: inline-block;
				margin-left: 20px;
				text-transform: none;
			}
			& .lost_password {
				float: right;
				margin: 22px 0 10px;
			}
		}
	}
	& > div + div {
		margin-left: 50px;
	}
}
.name-row,
.password-row {
	position: relative;
	&:before {
	    content: "\f007";
	    font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    left: 20px;
	    top: 0px;
	    font-size: 14px;
	   z-index: 10;
	}
	& input[type="text"],
	& input[type="password"] {
		padding-left: 35px;
	}
}
.password-row {
	&:before {
		content: "\f13e";
	}
}
.showcoupon-tag,
.showlogin-tag {
	display: inline-block;
	margin-right: 10px;
	& i {
		margin-right: 5px;
	}
}
form.woocommerce-checkout {
	.flex-display(@display: flex);
	.flex-flow( row wrap);
	.justify-content(@justify: space-between);
}
	.wc-order-review {
		margin-left: 50px;
		padding: 30px;
		box-sizing: border-box;
		.align-self(@align: flex-start);
	}
		.woocommerce-checkout-review-order-table tr.cart_item:first-of-type td {
			border-top: none;
		}
			.content .woocommerce-checkout-review-order-table {
				display: block;
				& tbody,
				& tfoot,
				& tr,
				& td,
				& th {
					display: block;
					border: none;
					padding: 0;
				}
				& tr {
					// &.cart_item {
					// 	.flex-display(@display: flex);
					// 	.flex-flow( row wrap);
					// 	.align-items(@align: center);
					// 	.justify-content(@justify: space-between);
					// }
					border-top: 1px solid; 
					padding: 10px 0;
				}
				& .product-name,
				& .product-total .amount {
					font-weight: normal;
				}
				& tbody tr {
					&:first-of-type {

						border: none;
					}
				}
				border-collapse: separate;
				& td,
				& .order-total th {
					//padding: 25px 0;
					vertical-align: top;
					&.product-name {
						padding-right: 10px;
					}
				}
				& th {
					padding-right: 10px;
				}
				& .cart-subtotal {
					& td,
					& th {
						width: 100%;
					}
				}
			}
			.woocommerce-cart-wrap .cart_totals th {
				width: 40%;
				padding: 25px 0;
			}
			// .content .shipping th,
			// .content .woocommerce-checkout-review-order-table .cart-subtotal th,
			// .content .woocommerce-checkout-review-order-table .order-total th {
			// 	padding: 25px 10px 25px 0;
			// 	vertical-align: top;
			// }
			.woocommerce-billing-fields label,
			.woocommerce-shipping-fields label,
			.woocommerce-account-fields label,
			.woocommerce-MyAccount-content label {
				& abbr[title] {
					border-bottom: none;
				}
			}
			.content .payment_methods {
				padding-top: 5px;
				margin: 0 0 30px 0;
				& li img {
					vertical-align: middle;
					margin: -2px .5em 0 .5em;
				}
			}
	form.woocommerce-checkout,
	.woocommerce-MyAccount-content {
		& .form-row {
			padding-bottom: 20px;
			&.place-order {
				padding-bottom: 0;
			}
		}
		& .form-row label {
			text-transform: uppercase;
		}
		& .select2-container .select2-selection__arrow {
			top: 50%;
			margin-top: -13px;
			right: 7px;
		}

	}
	form.woocommerce-checkout {
		& .form-row {
			padding-bottom: 20px;
			&#billing_address_1_field {
				padding-bottom: 0;
			}
		}
	}
	.woocommerce-MyAccount-content {
		& fieldset,
		& .woocommerce-Button.button {
			margin-top: 20px;
		}
	}
	.woocommerce-address-fields {
		& .button {
			margin-top: 30px;
		}
	}
	.woocommerce-MyAccount-content  .woocommerce-address-fields {
		.flex-display(@display: flex);
		.flex-flow( column wrap);
		& > p {
			.flex-order(@order: 0);
		}
		& > p:first-of-type {
			.flex-order(@order: 1);
		}
		& .form-row-wide {
			width: 100%;
		}
	}
	#page .select2-container .select2-selection--single {
		.flex-display(@display: flex);
		.align-items(@align: center);
	}
	.woocommerce-shipping-fields label,
	.woocommerce-account-fields label {
		text-transform: uppercase;
	}
	#ship-to-different-address {
		.flex-display(@display: flex);
		.align-items(@align: center);
		& label {
			//text-transform: inherit;
			.flex-order(@order: 1);
		}
		& input {
			.flex-order(@order: 0);
			margin-right: 5px;
		}
	}
// .customer_details  {
// 	& td {
// 		text-align: right;
// 	}
// }
.create-account {
	margin-bottom: 10px;
}
.woocommerce-billing-fields {
	padding-bottom: 10px;
}
.form-row.create-account {
	padding-top: 15px;
	padding-bottom: 0 !important;
	margin-bottom: 15px;
	clear: both;
	& label.checkbox {
		margin-bottom: 0;
	}
}
.woocommerce-shipping-fields {
	padding-top: 15px;
	clear: both;
	& label.checkbox {
		margin-bottom: 0;
	}
}
.form-row.create-account {
	& label.checkbox span {
		&:before {
			display: inline-block;
			margin: 0 5px;
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f2bd";
			font-size: inherit;
		}
	}
}
#account_password_field {
	padding-top: 10px;
	margin-bottom: 0;
}
.woocommerce-shipping-fields {
	margin-bottom: 45px;
	& .shipping_address {
		margin-top: 20px;
		margin-bottom: -20px;
	}
	& label.checkbox span {
		&:before {
			display: inline-block;
			margin-right: 5px;
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f0d1";
			font-size: inherit;
		}
	}
}
#order_comments_field {
	margin-top: 30px;
}
//Complete
.wc-side-column {
	.align-self(@align: flex-start);
	padding: 30px;
	margin-right: 50px;
	box-sizing: border-box;
	.wc-complete-wrap & {
		margin-bottom: 30px;
	}
}
	.woocommerce-thankyou-order-details {
		.content & {
			margin: 0;
		}
		& li {
			padding: 10px 0;
			border-top: 1px solid;
			list-style: none;
			&:first-child {
				border-top: none;
			}
			&:last-child {
				padding-bottom: 0;
			}
			& strong {
				display: block;
				font-weight: normal;
			}
		}
	}
	.order_details,
	.customer_details {
		display: block;
		& thead {
			display: none;
		}
		& tbody tr:first-of-type td {
			border-top: none;
		}
		& tbody,
		& tfoot {
			display: block;
		}
		& tr {
			.flex-display(@display: flex);
			.flex-flow( row nowrap);
			& td,
			& th {
				.flex-display(@display: flex);
				.align-items(@align: center);
				.flex-flow( row wrap);
				width: 50%;
				padding: 10px 0;
			}
		}
		.woocommerce-cart-wrap & {
			& .product-total,
			& tfoot td {

				padding-right: 0;
			}
			& tfoot th {
				padding-right: 10px;
			}
		}
	}
	.shop_table.order_details {
		margin-bottom: 40px;
		& .product-quantity {
			margin-left: 5px;
		}
		& .product-name a {
			text-decoration: none;
		}
	}

	.wc-item-meta {
		margin: 0 !important;
		& li {
			list-style: none;
			& > * {
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
			}
		}
	}

.select2-dropdown {
    border: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border-top: none;
}

	.select2-search {
	    padding-top: 5px;
	    padding-bottom: 5px;
	    & input[type="text"] {
	    	margin-bottom: 0;
	    }
	}
		.select2-dropdown .select2-search input {
		    margin-top: 4px;
		}
		.select2-container--default .select2-search--dropdown .select2-search__field {
			border-color: #e1e1e1;
			height: 28px !important;
			background-color: #fff;
			color: #888888;
			border-radius: 3px;
		}
	.select2-results {
		color: #000;
		font-size: 14px;
		line-height: 18px;
		background: none;
	}

.woocommerce-form-login {
	& .woocommerce-form__label-for-checkbox {
		margin-top: 18px;
	}
}
#page .wc-item-downloads {
	width: 100%;
	margin: 0;
	& li {
		list-style: none;
	}

}
/*--------------9 - Stars --------------*/

	.stars {
		position: relative;
		font-size: 1em;
	}
		.stars a {
			display: inline-block;
			font-weight: 700;
			margin-right: 1em;
			text-indent: -9999px;
			position: relative;
		}
		.stars a:last-child {
			border-right: 0;
		}
	p.stars a.star-1,
	p.stars a.star-2,
	p.stars a.star-3,
	p.stars a.star-4,
	p.stars a.star-5 {
		border-right: 1px solid;
	}
	p.stars a.star-1:after,
	p.stars a.star-2:after,
	p.stars a.star-3:after,
	p.stars a.star-4:after,
	p.stars a.star-5:after {
		font-family: WooCommerce;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	p.stars a.star-1 {
		width: 2em;
	}
	p.stars a.star-1:after {
		content: "\e021";
	}
	p.stars a.star-1.active:after,
	p.stars a.star-1:hover:after {
		content: "\e020";
	}
	p.stars a.star-2 {
		width: 3em;
	}
	.woocommerce p.stars a.star-2:after {
		content: "\e021\e021";
	}
	p.stars a.star-2.active:after,
	p.stars a.star-2:hover:after {
		content: "\e020\e020";
	}
	p.stars a.star-3 {
		width: 4em;
	}
	p.stars a.star-3:after {
		content: "\e021\e021\e021";
	}
	p.stars a.star-3.active:after,
	p.stars a.star-3:hover:after {
		content: "\e020\e020\e020";
	}
	p.stars a.star-4 {
		width: 5em;
	}
	p.stars a.star-4:after {
		content: "\e021\e021\e021\e021";
	}
	p.stars a.star-4.active:after,
	p.stars a.star-4:hover:after {
		content: "\e020\e020\e020\e020";
	}
	p.stars a.star-5 {
		width: 6em;
		border: 0;
	}
	p.stars a.star-5:after {
		content: "\e021\e021\e021\e021\e021";
	}
	p.stars a.star-5.active:after,
	p.stars a.star-5:hover:after {
		content: "\e020\e020\e020\e020\e020";
	}

	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1em;
		font-size: 0.8em;
		width: 5.4em;
		font-family: star;
	}
	.widget .star-rating {
		float: none;
		margin: 5px 0;
	}
	.woocom-list-content {
		text-align: center;
	}
	.woocom-rollover-content .star-rating,
	.woocom-rollover-content .price,
	.woocom-list-content .star-rating,
	.woocom-list-content .price {
		display: block;
		float: none;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.woocom-rollover-content .star-rating,
	.woocom-rollover-content .price {
		text-align: center;
	}
	.woocom-rollover-content .star-rating {
		margin: 0 auto 10px auto;
	}
	.woocom-list-content .star-rating,
	#content .woocom-list-content .star-rating:last-child {
		margin-bottom: 15px;
	}

		.star-rating:before {
			content: "\53\53\53\53\53";
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}
		.woocom-rollover-content .star-rating:before {
			color: fade(#ffffff, 40%);
			-webkit-text-fill-color: fade(#ffffff, 40%);
		
		}
		.woocom-rollover-content .price del,
		.woocom-rollover-content .price del * {
			color: fade(#ffffff, 50%);
			-webkit-text-fill-color: fade(#ffffff, 50%);
		}
		.star-rating span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}
			.star-rating span:before {
				content: "\53\53\53\53\53";
				top: 0;
				position: absolute;
				left: 0;
			}

	
	.products .star-rating {
		display: block;
		float: none;
	}
	.hreview-aggregate .star-rating {
		margin: 10px 0 0;
	}

/*--------------9 - Stars:end --------------*/

/*--------------8 - Woo Message --------------*/

	.woocommerce-error-text > li,
	.woocommerce-info  li,
	.woocommerce-message  li,
	.payment_methods li {
		list-style: none;
	}

		.woocommerce-error:after,
		.woocommerce-message:after,
		.woocommerce-message:before {
			content: " ";
			display: table;
		}
		.woocommerce-error:after,
		.woocommerce-info:after,
		.woocommerce-message:after {
			clear: both;
		}

			.woocommerce-error .button,
			.woocommerce-info .button,
			.woocommerce-message .button {
				float: right
			}

div:not(.wc-coupon-wrap):not(.wc-login-wrap):not(.woocommerce-MyAccount-content) > .woocommerce-message,
.woocommerce-error,
div:not(.wc-coupon-wrap):not(.wc-login-wrap):not(.woocommerce-MyAccount-content) > .woocommerce-info {

	.flex-display(@display: flex);
	.flex-flow( column wrap);
	//.align-items(@align: center);
	.justify-content(@justify: center);
    background: #1eb45a;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.3);
    border: none;
    position: fixed;
    top: 150px;
    left: 100%;
    width: 65px;
    max-height: 65px;
    min-height: 65px;
    margin: 0 !important;
    padding: 15px 20px 15px 20px;
    z-index: 9999;
    overflow: hidden;
    -webkit-animation: slide-in, slide-out, after-slide-out;
    animation: slide-in, slide-out, after-slide-out;
    -webkit-animation-duration: 2s, 1.1s, 2s;
    animation-duration: 2s, 1.1s, 2s;
    -webkit-animation-delay: .5s, 9s, 12s;
    animation-delay: .5s, 9s, 12s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    font-weight: bold;
    color: #FFF;
  //  font-size: 16px;
    box-sizing: border-box;
    & a,
    & a:hover {
    	color: #fff;

    }
    &:before {
    	position: absolute;
    	.flex-display(@display: flex);
		.justify-content(@justify: center);
    	top: 20px;
    	left: 0;
    	width: 65px;
    	height: 100%;
    	font: normal normal normal 28px/1 FontAwesome;
    	content: "\f058";
    	color: #fff;
		-webkit-text-fill-color: #fff;
    }
    & .woocommerce-message-text,
    & .woocommerce-info-text,
    & .woocommerce-error-text {
	   
	    opacity: 0;
	    -webkit-animation: opacity_text_in, opacity_text_out;
	    animation: opacity_text_in, opacity_text_out;
	    -webkit-animation-delay: 1.8s, 9s;
	    animation-delay: 1.8s, 9s;
	    -webkit-animation-duration: .8s, 2s;
	    animation-duration: .8s, 2s;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
	}
	& ul {
		margin: 0 !important;
	}
}
.single-product {
	& .woocommerce-message {
		display: none !important;
	}
}

.woocommerce-error {
	background: #dd3c3d;
	 &:before {
	 	content: "\f06a" !important;
	 }
}
.woocommerce-MyAccount-content {
	& .woocommerce-info {
		.flex-display(@display: flex);
		.flex-flow( column wrap);
		& a.button {
			.align-self(@align: flex-start);
			.flex-order(@order: 1);
			margin-top: 5px;
		}
	}
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateX(600px);
        transform: translateX(600px);
        width: 65px;
        max-height: 65px;
        padding-left: 0;
    }

    50% {
    	 -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        width: 65px;
       max-height: 65px;
        padding-left: 0;
    }

    75% {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        padding-left: 65px;
        width: 400px;
       	max-height: 65px;
    }

    100% {
         -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        padding-left: 65px;
        width: 400px;
       	max-height: 500px;
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(600px);
        transform: translateX(600px);
        width: 65px;
        max-height: 65px;
        padding-left: 0;
    }

    50% {
    	-webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        width: 65px;
        max-height: 65px;
        padding-left: 0;
    }

    75% {
    	-webkit-transform: translateX(-600px);
        transform: translateX(-600px);
       	padding-left: 65px;
        width: 400px;
       	max-height: 65px;
    }

    100% {
    	-webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }
     
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }

    100% {
      	-webkit-transform: translateX(800px);
        transform: translateX(800px);
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }
}

@keyframes slide-out {
    0% {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }

    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }
     
}
@-webkit-keyframes after-slide-out {
    0% {
        padding-left: 65px;
       	width: 400px;
      	max-height: 500px;
    }

    100% {
        padding-left: 0;
        width: 65px;
      	max-height: 65px;
    }
}

@keyframes after-slide-out {
    0% {
        padding-left: 65px;
        width: 400px;
      	max-height: 500px;
    }


    100% {
        padding-left: 0px;
        width: 65px;
      	max-height: 65px;
    }
}


@-webkit-keyframes opacity_text_in {
    0% {
        opacity: 0
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes opacity_text_in {
    0% {
        opacity: 0
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes opacity_text_out {
    0% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes opacity_text_out {
    0% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}



.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .update-cart-button input[type="submit"]:disabled {
    cursor: not-allowed;
}

/*!-Account page*/

.woocommerce-MyAccount-content mark {
	padding: 0 5px;
}

//--My account tabs
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 300px;
    padding-right: 50px;
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: calc(100% ~'-' 350px);
}
	.woocommerce-MyAccount-navigation > ul {
		.content & {
			margin: 0;
		}
	}
		.woocommerce-MyAccount-navigation > ul li {
			margin-bottom: 10px;
			list-style: none;
		}

		.woocommerce-MyAccount-navigation > ul li.is-active a,
		.woocommerce-MyAccount-navigation > ul li.is-active:hover a {
			color: #fff;
		}
			.woocommerce-MyAccount-navigation > ul li a {
				display: block;
				padding: 15px 20px;
				text-decoration: none;text-transform: uppercase;
			}
@media screen and (max-width: 768px) {
	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		display: block;
	    float: none;
	    width: 100%;
	    padding: 0;
	    margin-bottom: 40px;
	}
}
.woocommerce-Addresses {
	padding-top: 20px;
}
.woocommerce-account .woocommerce-MyAccount-content address {
	font-style: normal;
}
/* !-Single product*/
//--Title
body.hide-product-title .summary > .product_title {
	display: none;
}

.product .variations_button:before,
.product .variations_button:after,
.product .cart:before,
.product .cart:after,
#review_form:before,
#review_form:after,
form.cart:before,
form.cart:after {
	content: "";
	display: table;
	clear: both;
}
.summary.entry-summary div[itemprop="description"] {
	margin: 25px 0;
}
.product {
	& table.variations {
		position: relative;
		 .flex-display(@display: inline-flex);
		width: auto;
		margin-bottom: 20px;
		& tr,
		& td {
			display: block;
		}
		& td.label {
			padding: 0;
			margin-bottom: 5px;
			& label {
				text-transform: uppercase;
			}
		}
		& td.value {
			padding: 0;
			margin-bottom: 10px;
		}
		& .reset_variations {
			position: absolute;
			top: 0;
			right: 0;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.woocommerce div.product div.summary {
    .flex-display(@display: flex);
	.flex-flow( column wrap);
	& .woocommerce-product-rating {
		display: block;
		margin: -5px 0 20px 0;
		.flex-order(@order: -1);
	}
	& .woocommerce-review-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& h1 {
		margin-bottom: 30px;
	}
	& .single_variation .price,
	& .single_variation > p,
	& .single_variation .woocommerce-variation-description > p,
	& .single_variation .woocommerce-variation-availability > p {
		display: block;
		margin-bottom: 25px;
	}
	& .woocommerce-product-rating .star-rating {
		display: inline-block;
		margin: 0 4px 0 0;
		float: none;
	}
	form.cart,
	p.cart {
		margin-bottom: 30px;
	}
	// & .woocommerce-variation-price {
	// 	margin-bottom: 35px;
	// }
	& .woocommerce-variation-availability .in-stock {
		margin-bottom: 0;
	}
	& .woocommerce-review-link {
		display: inline-block;
	}
	& > .price {
		position: relative;
		padding-bottom: 15px;
		margin-bottom: 35px;
		&:after {
			position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 60px;
		    height: 3px;
		    content: "";
		}
	}
	& .woocommerce-product-details__short-description {
		margin-bottom: 20px;
	}

}
.product_meta  {
	margin-bottom: 30px;
	& .posted_in,
	& .sku_wrapper {
		display: inline-block;
		& a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	& .posted_in {
		position: relative;
		margin:  0 6px 5px 0;
    	padding: 0 9px 0 0;
		&:after {
		    position: absolute;
		    right: 0;
		    top: 50%;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);
		    width: 3px;
		    height: 3px;
		    content: "";
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		}
	}
	& > .tagged_as {
		margin-top: 3px;
		& a {
			display: inline-block;
			padding: 1px 6px;
		    margin: 2px 1px 2px 0;
		    border: 1px solid;
		    font: normal 10px / 15px Arial, Verdana, sans-serif;
		    text-decoration: none;
		    letter-spacing: 0.3px;
		}
	}
}

//tabs

.woocommerce-tabs {
	//margin-bottom: 30px;
	padding-top: 30px;
	clear: both;
	.single & {
		& .entry-content {
		    margin-bottom: 0;
		}
	}
	& .tabs {
		position: relative;
		overflow: hidden;
		margin: 0 0 30px 0;
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			height: 1px;
			width: 100%;
			content: "";
		}
		& > li {
			position: relative;
			float: left;
			padding-top: 20px;
			margin-left: 40px;
			list-style: none;
			&:first-child {
				margin-left: 0;
			}
			& > a {
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
			}
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				height: 3px;
				width: 100%;
				content: "";
			}
		}
	}
	& #tab-description,
	& #tab-additional_information {
		& > h2:first-child {
			display: none;
		}
	}
	& .shop_attributes {
		padding: 20px 30px;
		border-collapse: separate;
		border: none;
		& tr:first-of-type {
			& th,
			& td {
				border: none;
			}
		}
	}
	// & #comments {
	// 	padding-bottom: 20px;
	// }
}
.woocommerce-Reviews {
	& .comment-reply-title {
		margin-bottom: 5px;
	}
	& label {
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	& .comment-notes {
	}
	& .comment-form-rating {
		margin-top: 30px;
	}
}
.woocommerce-noreviews {
	display: none;
}
#reviews ol.commentlist {
	margin: 40px 0 0 0;
	padding-bottom: 20px;
}
			#reviews ol.commentlist li {
				width: 100%;
				padding: 0 0 0 0;
				margin: 0 0 20px 0 !important;
				//box-sizing: border-box;
				//.box-sizing (border-box);
				list-style: none;
				.no-avatars & {
					padding-left: 0;
				}
			}
				#reviews ol.commentlist .comment_container {
					position: relative;
					padding: 30px 30px 15px 120px;
					& p.meta {
						margin-bottom: 20px;
					}
					& .woocommerce-review__author {
						display: block;
						margin-bottom: 5px;
					}
					& .woocommerce-review__dash {
						display: none;
					}
				}
					#reviews .commentlist li img.avatar {
						float: left;
						margin-right: 20px;
						border-radius: 50%;
						margin: 0 30px 15px -90px;
					}
			// #review_form {
			// 	clear: both;
			// }
			.comment-respond > h3 {
				.woocommerce-Reviews & {
					.align-self(@align: flex-start);
					padding: 0;
					margin-bottom: 20px;
					&:after {
						display: none;
					}
				}
			}

		.woocommerce .form-submit .dt-btn {
			display: none;
		}
//--Related products
.product .upsells.products,
.product .related.products {
	padding-top: 50px;
	margin-top: 60px;
	border-top: 1px solid;
	clear: both;
}
.related.products > h2,
.upsells.products > h2,
.woocommerce > h2,
.woocommerce-tabs .panel > h2 {
	margin-bottom: 20px;
}
// .woocommerce-tabs #comments > h2 {
// 	margin-bottom: 40px;
// }
.product .related.products > h2,
.product .upsells.products > h2,
.cross-sells > h2 {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 10px;
	&:after {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 60px;
	    height: 3px;
	    content: "";
	}
}
.related-product {
	.content & {
		.flex-display(@display: flex);
		.flex-flow( row wrap);
		margin: 0 -25px -25px -25px;
	}
	& > li {
		position: relative;
		.flex-display(@display: flex);
		width: 33%;
		padding: 0 25px 25px 25px;
		box-sizing: border-box;
		.sidebar-right &,
		.sidebar-left & {
			width: 50%;
		}
		.woocommerce-cart-wrap & {
			width: 100%;
		}
		& .onsale {
			position: absolute;
			top: 5px;
			left: 30px !important;
			.flex-display(@display: flex);
			.justify-content(@justify: center);
			.align-items(@align: center);
			border-radius: 50%;
			padding: 4px;
			min-width: 24px;
			min-height: 24px;
			line-height: 1;
			font-size: 14px;
			box-sizing: border-box;
		}
		& .product-thumbnail {
			max-width: 100px;
			min-width: 100px;
			margin-right: 20px;
		}
		& .product-content {
			.flex-display(@display: flex);
			.flex-flow( column wrap);
		}
		& .product-title {
			display: inline-block;
			margin-bottom: 5px;
			text-decoration: none;
			font-weight: bold;
		}
		& .price {
			margin-bottom: 10px;
		}
		// & ins,
		// & del {
		// 	float: left;
		// }
	}
}
.single-share-box {
	.single.single-product & {
		padding-top: 5px;
		margin-bottom: 30px;
	}
}

.share-link-description {
	.single-product & {
		text-align: left;
	}
}
.product .wf-container.description-on-hover > .wf-cell {
	line-height: 0;
}
/*Checkout steps responsivnes*/
@media screen and (max-width: 768px) {
	.checkout-page-title {
		& .checkout-breadcrumbs {
			.flex-display(@display: flex);
			.flex-flow( column wrap);
		}
		& a {
			.flex-display(@display: flex);
			.flex-flow( row nowrap);
			.align-items(@align: center);
			width: auto;
			margin-bottom: 40px;
			text-align: left;
			&:last-child {
				margin-bottom: 0;
			}
			& .checkout-step {
				.flex-order(@order: 0);
				flex: none;
				& .checkout-counter {
					margin: 0 10px 0 0;
				}
				
				&:before,
				&:after {
					left: 50%;
					margin-left: -5px;
					height: 14px;
					width: 3px;
				}
				&:before {
					top: -26px;
				}
				&:after {
					top: 40px;
				}
			}
			& .checkout-name {
				.flex-order(@order: 1);
			}
		}
	}
}

//Shortcodes
.wc-single-shortcode.wf-container {
	margin: 0;
	// &.wc-img-hover {
	// 	& .woo-buttons-on-img > a {
	// 		padding-bottom: 100%;
	// 	}
	// }
}
/*Widgets*/
.product_list_widget .variation {
	display: none;
}
/**
 * Rating Filter Widget
 */
.widget_rating_filter {
	& ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		& li {
			//@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			& a {
				padding: 1px 0;
				text-decoration: none;
			}

			& .star-rating {
				float: none;
				display: inline-block;
				margin: 0;
			}
		}

		& li.chosen {
			& a {
				&:before {
					//@include iconbefore( '\e013' );
					color: red;
				}
			}
		}
	}

}
//Remove webkit buttons select
.woocommerce button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="submit"]:focus,
a.button,
button.button {
	-webkit-appearance: none;
	outline: none;
}
